<ion-app>
  <ion-router-outlet></ion-router-outlet>
  
  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="rank">
        <ion-icon name="list-outline">RANG</ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="tip">
        <ion-icon name="bulb-outline">TIPP</ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="winnings">
        <ion-icon name="gift-outline">GEWINN</ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="drawings">
        <ion-icon name="stats-chart-sharp"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="settings-sharp"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="home">
        <ion-icon name="home-sharp"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
